<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.id }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', '{{ site.analytics.google.id }}', {
      'cookie_domain': 'r2cook.github.io',
      'cookie_flags': 'SameSite=None;Secure'
    }); // <--- Ensure this has the }; and then the ) and then the ;
  }); // <--- Ensure this has the }; and then the ) and then the ;
</script>